<tr>
  <td style="padding-bottom: 24px; border-bottom: 1px solid #c6c6c6">
    <table
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
    >
      <!-- Text section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 10px">
          <p
            style="
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
              margin: 0;
            "
          >
            Hello! This is the Octo Browser team.
          </p>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 10px">
          <p
            style="
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
              margin: 0;
            "
          >
            With the Team subscription, you'll have access to more resources for
            managing profiles, as well as tools for teamwork:
          </p>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 24px">
          <ul
            style="
              margin: 0;
              padding: 0;
              padding-left: 16px;
              font-size: 18px;
              list-style: 25px;
              font-weight: 400;
              color: #727272;
            "
          >
            <li>Add up to 3 team members to your profile;</li>
            <li>Assign roles among them using tags and access settings.</li>
          </ul>
        </td>
      </tr>
      <!-- Image section -->
      <tr>
        <td style="padding-bottom: 24px">
          <table
            width="100%"
            border="0"
            cellspacing="0"
            cellpadding="0"
            role="presentation"
          >
            <tr>
              <td
                align="center"
                class="main-block__img"
                style="border-radius: 8px"
              >
                <img
                  src="https://i.ibb.co/tZy1JMH/image-7-en.png"
                  width="100%"
                  alt="#"
                  border="0"
                  style="border-radius: 8px"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- End Image section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 24px">
          <p
            style="
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
              margin: 0;
            "
          >
            Find out how Banana Traff uses Octo Browser to manage accounts with
            a large team in
            <a
              href="#"
              title="#"
              target="_blank"
              rel="noopener"
              style="color: #1890ff"
              >a detailed case.</a
            >
          </p>
        </td>
      </tr>

      <!-- End Text section -->
    </table>
  </td>
</tr>
